{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Conectamente</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  
  <!-- Favicons -->
  <link href="{% static 'DreamedJobAI/assets/img/favicon-coin.png' %}" rel="icon">
  <link href="{% static 'DreamedJobAI/assets/img/_apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <!-- TODO NEED TO PURGE -->
  <!-- <link href="{% static 'DreamedJobAI/assets/css/index/IndexBootstrap.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'DreamedJobAI/assets/css/vendor/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'DreamedJobAI/assets/css/index/original_style_index.css' %}" rel="stylesheet">

</head>

<body>

    <!-- ======= FAQ & Contact Section ======= -->
    <section id="faq" class="faq">
      
        <div class="row align-items-center">
          <div class="section-title">
            <h1>Completamente.ai</h1>
          </div>
        </div>
        <div class="row justify-content-center mt-2 text-center">
          <div class="col-lg-12 mx-auto mt-5">
            <a class="getstarted" href="{% url 'DreamedJobAI:login' %}">Login</a>
          </div>
        </div> 
      </section>  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i>
      <svg fill="#ffff" width="30" height="30" viewBox="0 0 600 600"><use xlink:href="#bi-arrow-up"/></svg>
    </i>
  </a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'DreamedJobAI/assets/js/index/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'DreamedJobAI/assets/js/index/collapseIndex.js' %}"></script>


  <!-- Template Main JS File -->
  <script src="{% static 'DreamedJobAI/assets/js/index/index.min.js' %}"></script>

</body>

</html>