{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Conectamente</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  
  <!-- Favicons -->
  <link href="{% static 'DreamedJobAI/assets/img/favicon-coin.png' %}" rel="icon">
  <link href="{% static 'DreamedJobAI/assets/img/_apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <!-- TODO NEED TO PURGE -->
  <!-- <link href="{% static 'DreamedJobAI/assets/css/index/IndexBootstrap.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'DreamedJobAI/assets/css/vendor/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'DreamedJobAI/assets/css/index/original_style_index.css' %}" rel="stylesheet">

</head>

<body>

    <!-- ======= FAQ & Contact Section ======= -->
    <section id="faq" class="faq">
      
        <div class="row align-items-center">
          <div class="section-title">
            <h1>Reto 1</h1>
          </div>
        </div>
        <div class="row justify-content-center mt-2">
        <div class="col-lg-8 mx-auto">

            <!-- F.A.Q Group 1 -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>

                    <div class="accordion accordion-flush" id="faq-group-1">

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" data-bs-target="#faqsOne-2" type="button" data-bs-toggle="collapse">
                            <h6><strong>How can I contact customer support?</strong></h6>
                        </button>
                        </h2>
                        <div id="faqsOne-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                        <div class="accordion-body">
                            For assistance, reach out to our customer support team via <a href="mailto:support@rolehounds.com">support@rolehounds.com</a>. Our dedicated support agents are ready to help you with any inquiries or issues.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                      <button class="accordion-button collapsed" data-bs-target="#faqsOne-9" type="button" data-bs-toggle="collapse">
                          <h6><strong>How do the RH tokens® work?</strong></h6>
                      </button>
                      </h2>
                      <div id="faqsOne-9" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                        <div class="accordion-body">
                            <p>Each RH Token® allows you to get a minimum of 5 suitable jobs tailored towards you. To make this work, you need to upload your CV and select your preferred location(s). Each job that appears in Your Job Tracking Hub has a corresponding ATS optimized CV created based upon the original CV you uploaded.</p>
                            <p>A positive token balance is necessary to use our services. You can purchase as many tokens as you need.</p>
                        </div>
                      </div>
                  </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" data-bs-target="#faqsOne-4" type="button" data-bs-toggle="collapse">
                            <h6><strong>What is the DFY onboarding process like?</strong></h6>
                        </button>
                        </h2>
                        <div id="faqsOne-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                        <div class="accordion-body">
                            A calendar link will be sent to your email so you may select the best onboarding date and time for you. On your onboarding call, your account manager will go over our process in detail and we will discuss your personal goals and ambitions to ensure you get everything you need from our service.
                        </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                      <button class="accordion-button collapsed" data-bs-target="#faqsOne-6" type="button" data-bs-toggle="collapse">
                          <h6><strong>What is an optimized ATS CV?</strong></h6>
                      </button>
                      </h2>
                      <div id="faqsOne-6" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                      <div class="accordion-body">
                          <p>Often, companies use an automated <strong>Applicant Tracking System (ATS)</strong> instead of having a human reading through CVs. For this reason, is highly important that CVs are ATS friendly. This involves clean formatting, standard file types, relevant keywords, prioritized content, quantified achievements, common fonts, error-free text and customization for each application.</p>
                          <p>We don't want you to take on this time-consuming task yourself, which is why in Your Job Tracking Hub, all you need to do is click one button to receive an optimized CV for each suitable job.</p>
                        </div>
                      </div>
                  </div>
                  

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" data-bs-target="#faqsOne-1" type="button" data-bs-toggle="collapse">
                            <h6><strong>If I have a Bronze, Silver, or Gold package, do you choose which jobs you'll apply to for me or do I need to give my permission?</strong></h6>
                        </button>
                        </h2>
                        <div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                        <div class="accordion-body">
                          <p>You'll need to give your approval for each new batch of jobs we upload to Your Job Tracking Hub. <strong>We are not going to apply to any jobs or use any optimized CVs without your consent.</strong></p> 
                        </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse">
                            <h6><strong>Do you have any guarantees?</strong></h6>
                        </button>
                        </h2>
                        <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                        <div class="accordion-body">
                          <p>For each <strong>RH Token®</strong> you purchase, we guarantee a minimum of 5 suitable jobs and an ATS optimized version of your CV for each job.</p>
                          <p>For our <strong>Bronze package</strong>, you are guaranteed two initial job interviews up until three months have passed since the service began.</p>
                          <p>For our <strong>Silver package</strong>, you are guaranteed five initial job interviews up until four months have passed since the service began.</p>
                          <p>For our <strong>Gold package</strong>, you are guaranteed a job offer up until six months have passed since the service began.</p>

                          <p>For more information please refer to our <a href="https://fire-blob-ff4.notion.site/RoleHounds-Terms-and-Conditions-f16d7f86ab2b404faa1502655007d665">Terms and Conditions</a></p>
                        </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                      <button class="accordion-button collapsed" data-bs-target="#faqsOne-3" type="button" data-bs-toggle="collapse">
                          <h6><strong>How can I report a bug or suggest a feature?</strong></h6>
                      </button>
                      </h2>
                      <div id="faqsOne-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                        <div class="accordion-body">
                          For bug reports or feature suggestions, email <a href="mailto:support@rolehounds.com">support@rolehounds.com</a> or drop a comment <a href="https://fire-blob-ff4.notion.site/BUGS-FEATURES-REQUEST-a6b88bbeba934ae6843b25c6d4808bc1?pvs=4">here</a> - that's our hub for tracking bugs and feature requests!
                        </div>
                      </div>
                  </div>

                    </div>

                </div>
            </div><!-- End F.A.Q Group 1 -->

        </div>
        </div> 
      </section>  

    <!-- ======= Contact Section ======= -->
      <section id="contact" class="container mt-5" data-aos="fade-up">

        <div class="section-title">
          <h1>Reto 2</h1>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i>
                <svg fill="#91a8f2" width="40" height="40" viewBox="0 0 600 600"><use xlink:href="#bi-envelope-at-fill"/></svg>
              </i>
              <h3>Email Us</h3>
              <h5><a href="mailto:support@rolehounds.com">support@rolehounds.com</a></h5>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i>
                <svg fill="#91a8f2" width="40" height="40" viewBox="0 0 600 600"><use xlink:href="#bi-chat-square-heart"/></svg>
              </i>
              <h3>Join the community!</h3>
              <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="https://www.tiktok.com/@rolehounds" class="tiktok">
                  <i>
                    <svg fill="#91a8f2" width="35" height="35" viewBox="0 0 600 600"><use xlink:href="#bi-tiktok"/></svg>
                  </i>
                </a>
                <a href="https://discord.gg/NcdGGuGFp9" class="discord">
                  <i>
                    <svg fill="#91a8f2" width="35" height="35" viewBox="0 0 600 600"><use xlink:href="#bi-discord"/></svg>
                  </i>
                </a>
                <a href="https://www.linkedin.com/company/rolehounds/about/" class="linkedin">
                  <i>
                    <svg fill="#91a8f2" width="35" height="35" viewBox="0 0 600 600"><use xlink:href="#bi-linkedin"/></svg>
                  </i>
                </a>
                <a href="#" class="x">
                  <i>
                    <svg fill="#91a8f2" width="35" height="35" viewBox="0 0 600 600"><use xlink:href="#bi-twitter-x"/></svg>
                  </i>
                </a>
                <a href="https://www.instagram.com/rolehounds/?hl=en" class="instagram">
                  <i>
                    <svg fill="#91a8f2" width="35" height="35" viewBox="0 0 600 600"><use xlink:href="#bi-instagram"/></svg>
                  </i>
                </a>
                <a href="https://www.facebook.com/rolehounds/" class="facebook">
                  <i>
                    <svg fill="#91a8f2" width="35" height="35" viewBox="0 0 600 600"><use xlink:href="#bi-facebook"/></svg>
                  </i>
                </a>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End Contact Section -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i>
      <svg fill="#ffff" width="30" height="30" viewBox="0 0 600 600"><use xlink:href="#bi-arrow-up"/></svg>
    </i>
  </a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'DreamedJobAI/assets/js/index/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'DreamedJobAI/assets/js/index/collapseIndex.js' %}"></script>


  <!-- Template Main JS File -->
  <script src="{% static 'DreamedJobAI/assets/js/index/index.min.js' %}"></script>

</body>

</html>